.git/
node_modules/
**/.DS_Store
.env*
**/*.REAL
**/*.dump
**/*.dmp
**/*.tar.gz
**/*.tar
**/*.part-*
**/db/
**/dump/
**/dumps/
**/secrets/
**/credentials*
**/*credentials*
**/*credential*
**/*token*
**/*.bak*
**/*.backup*
**/*.key*
**/*.pem*
**/*.p12*
**/*.crt*
**/*.cer*
**/*.pfx*
